# Logs
*.log

# Generated wallust files (these get generated on first run)
configs/hypr/wallust/wallust-hyprland.conf
configs/waybar/wallust/colors-waybar.css
configs/rofi/wallust/colors-rofi.rasi

# Machine-specific
configs/hypr/monitors.conf
configs/hypr/wallpaper_effects/.wallpaper_current
configs/hypr/wallpaper_effects/.wallpaper_modified

# Parsec
.parsec/

# Secrets
*.bin
