[SddmGreeterTheme]
Name=HyprBrigade
Description=HyprBrigade SDDM Theme
Author=vmnavarro94
Website=https://github.com/vmnavarro94/HyprBrigade-dotfiles
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.3
ConfigFile=theme.conf
Screenshot=Previews/astronaut.png
MainScript=Main.qml
TranslationsDirectory=translations
Theme-Id=sddm-astronaut-theme
Theme-API=2.0
QtVersion=6